{{!
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Home</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <base href="/" />
</head>
<body>}}
{{#layout}}

<div class="container text-danger">

   <br/>

   <div class="panel panel-warning">
   
   <div class="panel-heading">Home</div>

   <div class="panel-body">
      
      <h3>Hello Spring Boot Moustache</h3>
      
   </div>    
   </div>   
</div>
{{/layout}}
{{!</body></html>}}